@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pangoFloat {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.pango-float {
  animation: pangoFloat 4s ease-in-out infinite;
}